.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;
}

.chat-container {
  width: 500px;
 height: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.chat-header {
  display: flex;
  align-items: center;
  height: auto;
  padding: 10px;
  background-color: #94d4ff;
  border-bottom: 1px solid #d7beac;
}

.chat-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 12px;
}

.chat-messages {
  max-height: 700px;
  height: 300px;
  overflow-y: auto;
  padding: 12px;
}

.message {
  color: #333333;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.chat-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambiamos la alineación a la izquierda */
  padding: 12px;
}

input[type='text'] {
  flex-grow: 1;
  padding: 8px;
  display: block;
  border: none;
  border-radius: 4px;
  font-family: Courier, monospace;
  outline: none;
  font-size: medium;
  resize: vertical;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 10px;
}

/* ... Tu CSS existente ... */

.button-container {
/* Eliminamos la flex-direction: column y ajustamos márgenes */
display: flex;
justify-content: space-between; /* Ajustamos para que los botones estén más cercanos */
margin-top: 10px; /* Añadimos un margen superior */
}
.button-container-1 {
  /* Eliminamos la flex-direction: column y ajustamos márgenes */
  display: flex;
  height: 50px;
  justify-content: space-between; /* Ajustamos para que los botones estén más cercanos */
  margin-top: 10px; /* Añadimos un margen superior */
  margin-bottom: 0%;
  }

/* ... El resto de tu CSS ... */


button {
  /* Estilos anteriores */
  display: block;
  padding: 8px;
  margin-bottom: 1px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-family: Courier, monospace;
  outline: none;
  font-size: medium;
  font-weight: 600;
  margin-right: 4px; /* Espacio entre los botones */
}



.message {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instruction {
  padding: 8px;
  margin-bottom: 3px;
  border-radius: 4px;
  margin-left: 6px;
  margin-right: 6px;
  align-items: flex-end;
  width: auto;
  font-family: Courier, monospace;
  font-weight: 800;
  background-color: #b9b9b9;
  font-size: medium;
}



.message.user {
  align-items: flex-end;
  width: auto;
  font-family: Courier, monospace;
  font-weight: 800;
  background-color: #94d4ff;
 
}

.message.bot {
  font-family: Courier, monospace;
  background-color: #cfcfcf;
  font-weight: 800;
}

.message .content {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
}

.message.user .content {
  background-color: #e2f2ff;
  align-self: flex-end;
  ox-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.button-container button.recording {
  animation: recordingAnimation 0.7s infinite;
}

.button-container button.recording:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  animation: pulseAnimation 1s infinite;
}

@keyframes recordingAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseAnimation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
